     <!-- Interests-->
     <section class="resume-section" id="interests">
        <div class="resume-section-content">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy videography, where i tell story from a creative mind(in my available freetimes).</p>
            <p class="mb-0">I enjoy running,mostly in the mornings as a routine, in my spare times, i play video games, read books,go swimming and watch movies.</p>
        </div>
    </section>
    <hr class="m-0" />