  <!-- Skills-->
  <section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <!-- <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-react"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass"></i></li>
            <li class="list-inline-item"><i class="fab fa-less"></i></li>
            <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
            <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
            <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li> -->
        </ul>
        <!-- <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Mobile-First, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul> -->

        <div class="wrapper">
            <!--         <h2 class="how-title">CSS3 Animated Skill Progress bar</h2>
                            <br><br> -->
                    <div class="skill1">
                        <p>{{bioData.skills[0]}}</p>
                        <div class="skill-bar skill1 wow slideInLeft animated">
                            <span class="skill-count1">80%</span>
                        </div>
                    </div>
                    <div class="skill1">
                        <p>{{bioData.skills[1]}}</p>
                        <div class="skill-bar skill2 wow slideInLeft animated">
                             <span class="skill-count2">75%</span>
                        </div>
                    </div>
                    <!-- <div class="skill">
                        <p>JQUERY</p>
                        <div class="skill-bar skill3 wow slideInLeft animated">
                            <span class="skill-count3">75%</span>
                        </div>
                    </div> -->
                    <div class="skill1">
                        <p>{{bioData.skills[2]}}</p>
                        <span class="p1"><span class="p2"></span></span>
                        <div class="skill-bar skill4 wow slideInLeft animated">
                            <span class="skill-count4 p2">75%</span>
                        </div>
                    </div>
                      <div class="skill1">
                        <p>{{bioData.skills[3]}}</p>
                        <div class="skill-bar skill3 wow slideInLeft animated">
                            <span class="skill-count3">25%</span>
                        </div>
                    </div>
                   
                </div><!-- end of /.coloumn -->
    </div>
</section>
<hr class="m-0" />